<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <title>Send an inquiry</title>
    <script>        
        // Include the Messenger Extensions JS SDK
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

        let senderPsid;
        
        // Client-side code
        window.onload = () => {
            MessengerExtensions.getContext(1384649859599741, function success(thread_context) {
                senderPsid = thread_context.psid;
            }, function error(error) {
                console.error(error);
            });

            console.log(senderPsid);

            const inquiryForm = window.document.getElementById("inquiry-form");
    
            inquiryForm.onsubmit = async (event) => {        
                event.preventDefault();
                const formData = new FormData(event.target);
                const requestBody = {
                    "contact-name": formData.get("contact-name"),
                    "company-name": formData.get("company-name"),
                    "company-email": formData.get("company-email"),
                    "mobile-number": formData.get("mobile-number"),
                    "inquiry-type": formData.get("inquiry-type"),
                    "message": formData.get("message-textarea")
                };

                try {
                    const req = await fetch("https://4hpodcw43cy7tdt3p46h5s2weq0jqrqq.lambda-url.ap-southeast-1.on.aws/", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": `${window.location.origin}`
                        },
                        body: JSON.stringify(requestBody)
                    });
                    const res = await req.json();

                    if (req.status === 200) {
                        await fetch(`${window.location.origin}/post-inquiry`, {
                               method: "POST",
                               headers: {
                                   "Content-Type": "application/json",
                                   "Access-Control-Allow-Origin": `${window.location.origin}`
                               },
                               body: JSON.stringify({ senderPsid, requestBody })
                        });

                        // inquiryForm.reset();
                    }
                } catch (error) {
                    console.error(error);
                }
            };
        };
    </script>
    <style>
        .mt-3 {
            margin-top: 0.75rem;
        }

        body {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            padding: 0.5rem;
        }

        form {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }

        form > section > label {
            display: block;
        }

        form > section > label > span {
            font-weight: bold;
            color: red;
        }
        
        form > section > input, select {
            background-color: #f9f9f9;
            color: #495057;
            width: 50%;
            min-width: 18rem;
            height: 3rem;
            border: 1px solid #EEF2F6;
            margin-top: 0.5rem;
            padding: 0.25rem 0.5rem;
        }

        form > section > textarea {
            background-color: #f9f9f9;
            color: #495057;
            width: 100%;
            height: 8rem;
            min-height: 8rem;
            border: 1px solid #EEF2F6;
            margin-top: 0.5rem;
            padding: 0.5rem;
        }

        form > section > input::placeholder,
        form > section > textarea::placeholder {
            color: #49505780;
        }

        form > section > input:focus,
        form > section > textarea:focus {
            outline: none;
        }

        form > button {
            background-color: #f37321 !important;
            color: #fff;
            width: fit-content;
            margin: 1rem 0;
            padding: 1rem 3rem;
            transition-duration: 200ms;
        }

        form > button:hover {
            background-color: #d55a0c !important;
        }

        footer {
            text-align: right;
            margin: 4rem 0;
        }

        footer > p > span {
            color: #3498db;
        }
    </style>
</head>
<body>
    <form id="inquiry-form" method="POST">
        <section>
            <label for="contact-name">Contact Name<span>*</span></label>
            <input id="contact-name" type="text" name="contact-name" required>
        </section>
        <section class="mt-3">
            <label for="company-name">Company Name<span>*</span></label>
            <input id="company-name" type="text" name="company-name" required>
        </section>
        <section>
            <label for="company-email">Company Email<span>*</span></label>
            <input id="company-email" type="email" name="company-email" placeholder="jane.doe@example.com" required>
        </section>
        <section>
            <label for="mobile-number">Mobile Number<span>*</span></label>
            <input id="mobile-number" type="text" name="mobile-number" placeholder="09123456789" pattern="^(\d{11})$" required>
        </section>
        <section>
            <label for="inquiry-type">Type of Inquiry<span>*</span></label>
            <select name="inquiry-type" id="inquiry-type" required>
                <option value="" disabled selected>Select a type</option>
                <option value="Finance">Finance/Purchasing</option>
                <option value="Administration">Administration</option>
                <option value="Marketing">Marketing</option>
                <hr>
                <optgroup label="Sales">
                    <option value="Cloud Services">Darktrace</option>
                    <option value="Cyber Security">Malwarebytes</option>
                </optgroup>
            </select>
        </section>
        <section class="mt-3">
            <label for="message-textarea">Message<span>*</span></label>
            <textarea id="message-textarea" name="message-textarea" cols="30" rows="10"></textarea>
        </section>
        <button type="submit">SUBMIT</button>
    </form>
    <footer>
        <p>© 2024 - Copyright Reserved to <span id="text-highlight-ctp">Computrade Technology Philippines</span>.</p>
    </footer>
</body>
</html>
