<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup Profile API</title>
</head>
<body>
    <form method="POST" action="/setup-profile">
        <h1>Setup Profile API:</h1>
        <button type="submit" id="btnSetupProfile">Submit</button>
    </form>
</body>
</html>